/*Selector universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;

}
/*Selector por etiquetas*/
header{
    background:#23376D;
    text-align: center;
    color: white;
    /*hace que el texto se separe 10 pixeles del cuadro del header*/
    padding: 10px;
}

footer{
    background:#23376D;
    text-align: center;
    color: white;
    padding: 10px;
    /*se manda al fondo de la pgina*/
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 50px;
}
a{
    font-size: 18px;
    color: #7d0a42;
    text-decoration: none;
}

footer a{    
    color:azure;
    
}


/*Selector por ID desventaja solo lo puedo usar una vez poruqe esta amarrado al id que a su vez es unico*/

#contenido{
    border: 2px solid #FDCC00;
    padding: 10px;
}

#frm-inscripcion  * {
    display: inline-block;
   
   }

#contenido form{
    border: 2px solid #FDCC00;
    padding: 10px;
}

#contenido table {
    margin: auto;
}
#principal {
    margin-left: 20%;
}

#descripcion{
    font-style: italic;
    text-decoration: underline;
    font-weight:bold ;
    margin: 10px;
}

#menu {
    background-color: #eee;
}

#menu ul li {
    display: block;
    float: left;
    border-right:#ccc 1px solid;
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover {
    background: rgb(16,75,143);
    cursor: pointer;
}

#menu ul li:hover a {
    color: white;
}

/*selector por clase -> se puede reutilizar*/

.clearFix{
    float: unset;
    clear: both;
}

.subTitulo {
    text-align: center;
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Selector por atributo*/
#contenido form {
    border : 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;

}




input[type="text"], select {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}

select {
    width: 350px;
}

input[type="submit"], button {
background: #7d0a42;
color: white;
padding: 15px;
font-size: 15px;
text-transform: uppercase;
border: 1px solid black;
cursor: pointer;
}

#contenidoContactos form {
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;

}

#contenidoContactos table {
    margin: auto;
}